@page "/"
@inject PortfolioExperienceServices PortfolioExperienceServices

<PageTitle>Joseph Gregory</PageTitle>
@foreach(var experience in experiences)
{
    <PortfolioCard 
        Id=@experience.Id
        ProjectName=experience.ProjectName
        ValueProposition=experience.ValueProposition
        TechStack=experience.TechStack
        ProjectLink=@experience.ProjectLink
        GitHubRepoLink=@experience.GitHubRepoLink
        ImageOrVideoLink=@experience.ImageOrVideoLink
        Description=experience.Description
        IsVideo=experience.IsVideo 
    />
}

<div class="bottom-space"></div>

@code {
    private List<PortfolioExperience> experiences;

    protected override void OnInitialized()
    {
        experiences = PortfolioExperienceServices.PortfolioExperiences;
    }

    @inject IJSRuntime JSRuntime;
    @inject NavigationManager NavigationManager

    @code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                var url = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

                if (url.Fragment.Length > 0)
                {
                    var elementId = url.Fragment.Substring(1);
                    await JSRuntime.InvokeVoidAsync("scrollToElement", elementId);
                }
            }
        }
    }

}