<div class="d-flex flex-column min-vh-100">
    <footer class="footer mt-auto mb-5 sticky-bottom bg-dark d-flex justify-content-center align-items-center">
        <div class="btn-group d-flex w-100">
            <a class="btn btn-primary flex-grow-1">Contact</a>
        </div>
    </footer>
</div>

