@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <article class="content">
            <MudThemeProvider Theme="myTheme"/>
            <MudDialogProvider />
            <MudSnackbarProvider />
            <MudLayout Style="background-color: #9b4af7">
                <NavMenu />
                <MudMainContent Style="background-color: #9b4af7">
                    @Body
                    
                </MudMainContent>
                <Footer />
            </MudLayout>
        </article>
    </main>
</div>
@code{
    private MudTheme myTheme = new()
    {
        Palette = new Palette()
        {
                Primary = "#592c8c",
                Background= "#9b4af7",
        }
    };
}