@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <article class="content px-4">
            <MudThemeProvider />
            <MudDialogProvider />
            <MudSnackbarProvider />
            @Body
            <Footer />
        </article>

    </main>

</div>
