<MudAppBar Color="MudBlazor.Color.Primary" Fixed="false" Elevation="20" >
    Welcome to Joseph Gregory's Portfolio Page
    <MudSpacer />
    <div>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" Href="https://github.com/joe-gregory" />
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="MudBlazor.Color.Inherit" Href="https://www.linkedin.com/in/josephegregory/" />
    </div>
    
</MudAppBar>