<MudAppBar Bottom="false" Color="MudBlazor.Color.Primary" Fixed="false" Elevation="20" Class="mt-0">
    Welcome to Joseph Gregory's Portfolio Page
    <MudSpacer />
    <div >
        <MudIconButton Title="GitHub Repo" Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" Href="https://github.com/joe-gregory" />
        <MudIconButton Title="LinkedIn Profile" Icon="@Icons.Custom.Brands.LinkedIn" Color="MudBlazor.Color.Inherit" Href="https://www.linkedin.com/in/josephegregory/" />
        <MudIconButton Title="Joseph Gregory Resume" Icon="@Icons.Custom.FileFormats.FileDocument" Color="MudBlazor.Color.Inherit" Href="https://docs.google.com/document/d/e/2PACX-1vQZyXpYNelSvlVofMPCJhkK2gX5xJO3BC33W3XA7XBP2W3qT0yVd7rrO-VJGaidnwCVVQlj5pVBd3L5/pub" />
        
    </div>
    
</MudAppBar>